
- var error, email, balance, history;

if email
  h1= email
else
  h1 KarmaBank

if error
  #error= error

if balance
  #balance(title='Bilans dla #{email}')= balance

if history
  ul#history
    each entry in history
      li(id=entry.ChequeId)
        time= entry.Timestamp + ": "
        .direction
          a(href="/view/" + entry.Source)= entry.Source
          &rarr; #{new Number(entry.Amount)} &rarr;
          a(href="/view/" + entry.Destination)= entry.Destination
        .description= entry.Description

form#find(action="/view/",method="GET")
  input(name="email",placeholder="Adres e-mail")
  input(type="submit",value="Zobacz",title="Zobacz stan karmy wybranego adresu email.")

#api
  h2 API REST
  .desc
   :markdown
    Stany kont sprawdzać można za pomocą interfejsu REST.

    Aby z niego skorzystać należy wykonać zapytanie w następującym formacie:

        GET http://[adres serwera]/json/[adres email]

    Odpowiedzią będzie stan sprawdzanego konta zakodowany jako `application/json`.